*{
    margin: 0;
    padding: 0;
}

#main{
    width: 100%;
    margin: auto;
}

#s1-navbar{
    width: 97%;
    /* border: 1px solid red; */
    position:fixed;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: black;
    color: white;
}
#s1-navbar a{
    text-decoration: none;
    color: white;
}
#navbar-right{
    display: flex;
    gap: 50px;
}

#s2-information{   
    padding: 50px 0px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 50px;
    background-color:#6335a0;
    color:white;
}
#description{
    /* border: 1px solid; */
    width: 50%;
    text-align: center;
}
#description>h3{
    margin-bottom: 5px;
}
#profile_photo>img{
    border-radius: 50%;
}
#s3-skills{
    text-align: center;
    margin: auto;
    /* border: 2px solid crimson; */
    padding: 30px 0px;
    color: white;
    background-color: #042547;
}
#s3-logos{
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 15px 10px;
    /* border: 1px solid violet; */
    width: 30%;
    margin-bottom: 30px;
}
#s3-logos>img{
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 20px;
    background-color: rgb(227, 236, 243);
}
#s3-logos>img:hover{
    background-color:rgba(165, 159, 154, 0.973);
    border: 1px solid;
    border-radius: 20px;
}
#s4-projects{
    /* border: 3px solid blue; */
    margin: auto;
    color: white;
    background-color:#6335a0;
    padding: 10px 0px;
}
#s4-title{
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}
#s4-projects_img{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    /* border: 1px solid brown; */
}
#s4-projects_img>img{
    width: 500px;
}
#s4-description{
    /* border: 1px solid teal; */
    display: flex;
    padding: 10px 100px;
    gap: 120px;
    text-align: center;
}
#s4-d1,#s4-d2{
    width: 50%;
    margin: auto;
    /* border: 2px solid; */
    padding: 5px;
}
#s4-d1>h3,#s4-d2>h3{
    margin-bottom: 10px;
}
#s4-d1_1,#s4-d2_1{   
    display: flex;
    text-align: center;
    /* border: 1px solid red; */
    width: 50%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
#s4-d1_2,#s4-d2_2{
    /* border: 1px solid burlywood; */
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    gap: 20px;
}
#s4-projects button{
    height: 25px;
}
#ts{
    width: 100px;
    border-radius: 5px;
    border: 2px solid salmon;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
    padding: 5px 0px;
    color: rgb(125, 224, 33);
}
#s4-projects a{
    text-decoration: none;
    color: rgb(17, 32, 2);
}
#s4-projects p{
    font-size: 17px;
}
#s4-d1_2>button,#s4-d2_2>button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    background-color: #cad7da;
    border-color: white;
    border-radius: 5px;
}
#s6-contact{
    text-align: center;
    /* border: 2px solid rgb(0, 255, 13); */
    padding-top: 10px;
    color: white;
    background-color: #042547;
}
#s6_1{
    /* border: 1px solid #042547; */
    width: 50%;
    margin: auto;
}
#email,#phone{
    display: flex;
    gap: 20px;
    align-items: center;
    /* border: 1px solid; */
    width: 50%;
    margin: auto;
}
#s6_1 p{
    font-size: 20px;
    font-weight:500;
}
#s6_2{
    width: 50%;
    margin: auto;
}
#s6_2 img{
    width: 50px;
}
#s6_2 img:hover{
    background-color:thistle;
    border-radius: 10px;
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        width: 100%;
        margin: auto;
    }
    main {
        width: 100%;
        margin: auto;
    }
    #s2-information,#s3-skills,#s4-projects,#s5-git,#s6-contact{
        width: 150%;
        margin: auto;
        /* border: 2px solid red; */
    } 
    
  }

  @media all and (min-width: 320px) and (max-width: 767px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        width: 100%;
        margin: auto;
    }
    main {
        width: 100%;
        margin: auto;
    }
    #s2-information,#s3-skills,#s4-projects,#s5-git,#s6-contact{
        width: 250%;
        margin: auto;
        /* border: 2px solid red; */
    } 
  }